#Ignorar carpeta tool chain
riscv-gnu-toolchain/

#Ignorar apuntes
/*.txt

#Ignorar programa
icestudio-0.12-linux64.AppImage

#Ignorar marketplace formato zip (sigue estándo presente en formato 7z, un formato más pequeño)
RISC-V-FPGA/makespace-17.zip

#Ignorar carpeta de colección
RISC-V-FPGA/makespace-17/